<div class="form_element">
  <%= form.label :name, "Poll Name" %><br /><p>This name will show up on the landing page for your poll and in status tweets sent to voters.</p>
  <%= form.text_field :name, :size=>30 %>
</div>
<div class="form_element">
  <%= form.label :poll_tag, "Poll Tag"%><br/><p>A unique single word identifier for this poll, for example a hash tag or a Twitter ID.  This tag is used to identify Tweets as votes for your poll.</p>
  <%= form.text_field :poll_tag, :size=>30 %>
</div>
<div class="form_element">
  <%= form.label :url, "URL" %><br/><p>You may leave the default or enter a custom URL.</p>
  http://buzzvoter.com/<%= form.text_field :url, :size=>20, :style=>"font-size:100%;margin-left:0px;" %>
</div>
<div class="form_element">
  <%= form.label :question, "Poll Question" %><br />
  <%= form.text_field :question, :size=>50 %>
</div>
<div class="form_element">
  <%= form.label :answers, "Answers" %><br />
  <p>Enter the allowed answers to the question.  Abbreviations must be a single word with alpha-numeric characters only.</p>
  <div class="table" id="answers">
    <div class="tr">
      <div class="th">Full Answer</div>
      <div class="th">Abbreviation</div>
    </div>
    
    <% @answers.each do |answer_record| %>
      <div class="tr answer">
        <div class="td"><%= text_field_tag "poll[answer_names][]", answer_record[:name] %></div>
        <div class="td"><%= text_field_tag "poll[answer_abbrs][]", answer_record[:abbr] %></div>
        <div class="td"><%= link_to "remove", "javascript:void(0);", :onclick=>"removeAnswer(this);" %></div>
      </div>
    <% end -%>
    <div id="answer_anchor"></div>
  </div>
  <%= link_to "add another answer...", "javascript:void(0);", :onclick=>"addAnotherAnswer();" %>
</div>
<div class="form_element">
  <%= form.label :ending_time %><br /><p>Time and date at which the Poll will automatically end.</p>
  <%= form.datetime_select :ending_time %><p><span class="time_zone"><%= current_user.time_zone %></span></p>
</div>
<div class="form_element">
  <%= form.check_box :results_reply %>
  <%= form.label :results_reply, "Reply to Voters with Current Results" %>
</div>
<div class="form_element">
  <%= form.label :reply_message %><br />
  <p>The following message will be sent to each voter when a valid vote is received.</p>
  <p>
  <strong>#ANSWER#</strong> will be replaced with the voter's poll answer.  <strong>#POLLNAME#</strong> will be replaced with the name of the poll.</p>
  <%= form.text_area :reply_message, :rows=>2, :cols=>50, :maxlength=>80 %>
</div>
<div class="form_element">
  <%= form.label :vote_tweet %><br />
  <p>This will be the default tweet generated when a user votes.</p>
  <p><strong>#ANSWER#</strong> will be replaced with the voter's poll answer.  <strong>#POLLNAME#</strong> will be replaced with the name of the poll. <strong>#POLLTAG#</strong> will be replaced with the poll's tag.  <strong>#URL#</strong> will be replaced with a link to this poll's landing page.</p>
  <p><strong>#ANSWER#</strong> and <strong>#POLLTAG#</strong> are mandatory.  <strong>#POLLNAME#</strong> and <strong>#URL#</strong> are optional.  Note that the hashtag <strong>#vote</strong> must be present somewhere in this text.</p>
  <%= form.text_area :vote_tweet, :rows=>2, :cols=>50, :maxlength=>80 %>
</div>
<%= form.hidden_field :user_id %>
<textarea id="new_answer_element" style="display:none">
  <div class="tr answer">
    <div class="td"><%= text_field_tag "poll[answer_names][]", "" %></div>
    <div class="td"><%= text_field_tag "poll[answer_abbrs][]", "" %></div>
    <div class="td"><%= link_to "remove", "javascript:void(0);", :onclick=>"removeAnswer(this);" %></div>
  </div>
</textarea>  
<script>
  var new_answer_element = JQ('#new_answer_element').val();
  
  function addAnotherAnswer() {
    JQ('#answer_anchor').before(new_answer_element);
  }

  function removeAnswer(element) {
    if( JQ('.answer').size() <= 2 )
      alert( "You must have at least two answers." );
    else
      JQ(element).parent().parent().remove();
  }
</script>