<h1>Editing poll</h1>
<hr/>
<% form_for(@poll) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <p>
    <%= f.submit 'Update' %>
    <%= link_to 'Cancel', "/" %>
  </p>
<% end %>

<%= link_to 'Show', @poll %> |
