<h1>Your Polls</h1>
<br/>
<hr/>
<br/>
<table>
  <tr>
    <th>Name</th>
    <th>Url</th>
    <th>Winner(s)</th>
    <th>Status</th>
  </tr>

<% @polls.each do |poll| %>
  <tr>
    <td><%=h poll.name %></td>
    <td><%=h poll.url %></td>
    <td><%= poll.winners_as_text %></td>
    <td>
      <% if !poll.is_enabled? %>
        Disabled
      <% else %>
        <% if poll.active? %>
        Closes in <%=h distance_of_time_in_words_to_now poll.ending_time %>
        <% else %>
        Closed.
        <% end -%>
      <% end -%>
    </td>
    <td><%= link_to 'Show', poll %></td>
    <!-- <td><%= link_to 'Edit Poll', edit_poll_path(poll) %></td>
    <td><%= link_to 'Customize Appearance',  url_for({:controller=>:polls, :action=>:edit_layout, :id=>poll.id})  %></td> -->
    <td><%= link_to 'Delete', poll, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New poll', new_poll_path %>