<h1>Your Polls</h1>
<hr>
<table>
  <tr>
    <th>Name</th>
    <th>Url</th>
    <th>Winner</th>
    <th>Status</th>
  </tr>

<% @polls.each do |poll| %>
  <tr>
    <td><%=h poll.name %></td>
    <td><%=h poll.url %></td>
    <td><%=h poll.get_answers_with_votes.first[:abbr] %></td>
    <td>
      <% if poll.active? %>
      Closes in <%=h distance_of_time_in_words_to_now poll.ending_time %>
      <% else %>
      Closed.
      <% end -%>
    </td>
    <td><%= link_to 'Show', poll %></td>
    <td><%= link_to 'Edit', edit_poll_path(poll) %></td>
    <td><%= link_to 'Destroy', poll, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New poll', new_poll_path %>