<h1>
  <%=h @poll.name %>
</h1>
<p>
  <b>Ends:</b>
  <%=h @poll.ending_time %>
</p>
<hr/>
<p>
  <%=h @poll.question %>
</p>

<ul>
  <% @answers.each do |answer| %>
    <li><%=answer.first%></li>
  <% end -%>
</ul>

<%= link_to 'Vote', url_for(:action=>"vote", :id=>@poll.id) %> |
<%= link_to 'Edit', edit_poll_path(@poll) %> |
<%= link_to 'Back', "/" %>