<h1>
  <%=h @poll.name %>
</h1>
<p>
  <% if @poll.active? %>
  <div class="poll_ending">Poll closes in <%=h distance_of_time_in_words_to_now @poll.ending_time %></div>
  <h3>Current Winner: <%= @poll.winners_as_text %></h3>
  <% else %>
  <div class="poll_ending">This poll has closed.</div>
  <h2>Final Winner: <%= @poll.winners_as_text %></h2>
  <% end -%>
</p>
<br/>
<p style="font-size:105%">
  <b>Q: </b><%=h @poll.question %>
</p>

<div class="table" style="width:100%">
  <div class="tr">
    <div class="th">Answers</div>
    <div class="th" style="text-align:center">Votes</div>
    <div class="th" style="text-align:center">Percentage</div>
  </div>
    <% i = 0 %>
    <% @answers.each do |answer_record| %>
    <div class="tr">
      <div class="td"><%= answer_record[:name] %></div>
      <div class="td" style="text-align:center"><%= answer_record[:num_votes] %></div>
      <div class="td" style="text-align:center"><%= answer_record[:percentage] %></div>
    </div>
    <% i += 1 %>
    <% end -%>
</div>
<br/>
<% if @poll.active? %>
<p>
  <a href="<%=url_for(:action=>"vote", :id=>@poll.id) %>" onclick="return submitVote(this);" class="button">
    VOTE
  </a>
</p>
<% end -%>
<% if current_user && current_user.id == @poll.user_id %>
<br/><br/>
  <%= link_to 'Edit', edit_poll_path(@poll) %> |
  <%= link_to 'Delete', @poll, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to 'Back', url_for(:action=>"index")  %>
<% end -%>