<h1>
  <%=h @poll.name %>
</h1>
<p>
  <% if @poll.active? %>
  <div class="poll_ending">Poll closes in <%=h distance_of_time_in_words_to_now @poll.ending_time %></div>
  <% else %>
  <div class="poll_ending">This poll has closed.</div>
  <h2>Final Winner: <%= @poll.winners_as_text %></h2>
  <% end -%>
</p>
<br/>

<% if @poll.active? %>
<h3>VOTE</h3>
  Login to Twitter then select your vote below and click <b>VOTE</b>. You will be taken to your Twitter page.  Click <b>Update</b> there to cast your vote.
  <p style="font-size:105%">
    <b>Q: </b><%=h @poll.question %>
  </p>
  <ul>
    <% @answers.each do |answer_record| %>
      <%= radio_button_tag "answer", answer_record[:abbr] %><%= answer_record[:name] %><br/>
    <% end -%>
  </ul>
  <br/>
  <a href="javascript:void(0);" onclick="return submitVote(this);" target="_blank" class="button">
    VOTE
  </a>
  <br/>

  <script>

    function createTweet(answer) {
      tweet = "<%= @poll.generated_vote_tweet %>";
      tweet = tweet.replace( "#ANSWER#", answer );
      return tweet;
    }
  
    function submitVote(el) {
      var selected_answer = JQ("input:radio[@name='answer']:checked");
      if( selected_answer.length < 1 )
      {
        alert( "You must select an answer." );
        return false;
      }
      else
      {
        var answer = selected_answer.val();
        var location = "http://twitter.com/?status="+escape(createTweet(answer));
        JQ(el).attr("href",location);
        return true;
      }
    }
  </script>
<% end -%>